html, body {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;

}
body {
  background: url(./bg.png) no-repeat center center fixed ;
  background-size: cover;
}

h1 {
  font-weight: 700;
  color: white;
  font-size: 18px;
  border-radius: 1em;
  background-color: rgba(0,0,0,.5);
  padding: 0.3em 0.6em;
  border: 3px solid white;

}
header {
  margin-top: 1em;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;

}

header > img {
  height: 200px;
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: 0 auto;
  padding: 1.5em;
  max-width: 480px;

}
ul > li {
  background-color: rgb(255, 255, 255, 0.75);
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  font-size: 15px;
  border-radius: 10em;
  padding: 1.5em;
  margin: 1.4em 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ul>li>a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}

a {
  text-decoration: none;
  color: black;
}
